<section class="tab summary {{tab.cssClass}}" data-group="primary" data-tab="consumables">
    <div class="tab-content flex-container">
        <div class="tab-title flex-row">
            <h3>Consumables</h3>
            <a data-action="createDoc" data-item-type="consumable">
                <i class="fa-solid fa-plus"></i>
                <label class="whq-label">New Consumable</label>
            </a>
        </div>
        <div class="document-panel">
            {{#each items.general as |item|}}
            <div class="item-container flex-row" data-doc="{{item.uuid}}">
                <div class="item-portait flex-col">
                    <img src="{{item.img}}" alt="{{item.name}}">
                </div>
                <div class="button-panel">
                    <a class="action-button doc-button" data-action="deleteDoc">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a class="action-button doc-button" data-action="editDoc">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
        <h4>
            Treasures
        </h4>
        <div class="document-panel">
            {{#each items.tresures as |item|}}
            <div class="item-container flex-row" data-doc="{{item.uuid}}">
                <div class="item-portait flex-col">
                    <img src="{{item.img}}" alt="{{item.name}}">
                </div>
                <div class="button-panel">
                    <a class="action-button doc-button" data-action="deleteDoc">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                    <a class="action-button doc-button" data-action="editDoc">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>