<header class='sheet-header'>
    <img class='profile-img' src='{{actor.img}}'data-edit="img" data-action="onEditImage" title='{{actor.name}}' height='100' width='100' />
    <div class='header-fields'>
        <div class="firts-line-header flex-row">
            <div class="title-container flex-row flex-4">
                <label class="whq-label">Title</label>
                <input  type="text" name="system.details.title" value="{{system.details.title}}" disabled>
            </div>
            <div class="level-container flex-row flex-2">
                <label class="whq-label">Level</label>
                <input class="level-input" type="number" name="system.details.level"
                    value="{{actor.system.details.level}}">
            </div>
        </div>
        <div class='name-container flex-row'>
            <label class="whq-label">Name</label>
            <input class="name-input" name='name' type='text'
                value='{{actor.name}}' placeholder='Actor Name' />
        </div>
        <div class="header-resources flex-row">
            <div class="resource-container flex-col">
                <label class="whq-label">Wounds</label>
                <div class="wounds-bar resource-bar flex-row">
                    <input class="bar-input-value" type="number" name="system.wounds.value" value="{{system.wounds.value}}">
                    <input class="bar-input-max" type="number" name="system.wounds.max" value="{{system.wounds.max}}">
                </div>
            </div>
            <div class="resource-container flex-col">
                <label class="whq-label"> Init </label>
                <input type="number" name="system.initiative" value="{{system.initiative}}">
            </div>
            <div class="resource-container flex-col">
                <label class="whq-label">Gold</label>
                <input type="number" name="system.details.gold" value="{{system.details.gold}}">
            </div>
        </div>
    </div>
    <div class="conditions-container flex-col">
        <label class="whq-label">Conditions</label>
        <div class="conditions">

        </div>
    </div>
</header>