<header class="sheet-header">
    <img class='profile-img' src='{{item.img}}' data-edit="img" data-action="onEditImage" title='{{item.name}}'
        height='100' width='100' />
    <div class="header-fields">
        <div class='name-container flex-row'>
            <label class="whq-label">Name</label>
            {{formInput
            fields.name
            name="name"
            value=item.name
            placeholder=(localize "Name")
            }}
        </div>
        <div class="header-resources flex-row">
            <div class="resource-container flex-col">
                <label class="whq-label">Type</label>
                {{formInput systemFields.type
                value=item.system.type
                placeholder="Type"
                }}
            </div>
            <div class="resource-container flex-col">
                <label class="whq-label">Price</label>
                {{formInput systemFields.price
                value=item.system.price
                }}
            </div>
        </div>
</header>