<header class="sheet-header">
    <img class='profile-img' src='{{item.img}}' data-edit="img" data-action="onEditImage" title='{{item.name}}'
        height='100' width='100' />
    <div class="header-fields">
        <div class='name-container flex-row'>
            <label class="whq-label">Name</label>
            {{formInput
            fields.name
            name="name"
            value=item.name
            placeholder=(localize "Name")
            }}
        </div>
        <div class="header-resources flex-row">
            {{#if (eq item.type 'consumable')}}
            <div class="resource-container flex-col flex-1">
                <label class="whq-label">Uses</label>
                <div class="wounds-bar resource-bar flex-row">
                    <input class="bar-input-value" type="number" name="system.uses.value" value="{{system.uses.value}}">
                    <input class="bar-input-max" type="number" name="system.uses.max" value="{{system.uses.max}}">
                </div>
            </div>
            <div class="resource-container flex-col flex-1">
                <label class="whq-label">Auto Destroy</label>
                {{formInput systemFields.autoDestroy
                value=item.system.autoDestroy
                }}
            </div>
            {{else}}
            <div class="resource-container flex-col flex-1">
                <label class="whq-label">Type</label>
                {{formInput systemFields.type
                value=item.system.type
                placeholder="Type"
                }}
            </div>
            {{/if}}
            <div class="resource-container flex-col flex-1">
                <label class="whq-label">Price</label>
                {{formInput systemFields.price
                value=item.system.price
                }}
            </div>
        </div>
</header>