<header class='sheet-header'>
    <img class='profile-img' src='{{actor.img}}' data-edit='img' title='{{actor.name}}' height='100' width='100' />
    <div class='header-fields'>
        <div class='name-container flex-container'>
            <input class="name-input" name='name' type='text' value='{{actor.name}}' placeholder='Name' />
            <div class="level-container">
                <input class="level-input" type="number" name="system.details.level" value="{{actor.system.details.level}}">
                <label>Level</label>
            </div>
        </div>
        <div class="attributes-inputs flex-container">
            <div class="attribute-container">
                <div class="flex-container">
                    <label>{{localize 'WHQ.Wounds'}}</label>
                    {{#unless isWoundInit}}
                    <a data-action="initWounds">
                        <i class="fa-solid fa-dice"></i>
                    </a>
                    {{/unless}}
                </div>
                <div class="flex-container">
                    <input class="input-bar-value" type="number" name="system.wounds.value" value="{{system.wounds.value}}">
                    <input class="input-bar-max" type="number" name="system.wounds.max" value="{{system.wounds.max}}">
                </div>
            </div>
            <div class="attribute-container">
                <label>{{localize 'WHQ.Move'}}</label>
                <input type="number" name="system.move" value="{{system.move}}">
            </div>
            <div class="attribute-container ">
                <label>{{localize 'WHQ.Initiative'}}</label>
                <input type="number" name="system.initiative" value="{{system.initiative}}">
            </div>
            <div class="attribute-container">
                <div class="flex-container">
                    <label>{{localize 'WHQ.Luck'}}</label>
                </div>
                <div class="flex-container">
                    <input class="input-bar-value" type="number" name="system.luck.value" value="{{system.luck.value}}">
                    <input class="input-bar-max" type="number" name="system.luck.max" value="{{system.luck.max}}">
                </div>
            </div>
            <div class="attribute-container">
                <label>{{localize 'WHQ.Attacks'}}</label>
                <input type="number" name="system.attacks" value="{{system.attacks}}">
            </div>
        </div>
        <div class="attributes-inputs flex-container">
            {{#each attributes as |attribute|}}
            <div class="attribute-container {{attribute.key}}">
                <input type="number" name="{{attribute.path}}" value="{{attribute.value}}">
                <div class="label-conteriner">
                    <label>{{localize attribute.label}}</label>
                    <a data-action="roll" data-roll-type="attribute" data-attribute="{{attribute.key}}">
                        <i class="fa-solid fa-dice"></i>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</header>